---
- name: Ensure custom configuration block is present in bashrc
  blockinfile:
    path: "{{ bashrc_target_file }}"
    marker: "# {mark} {{ bashrc_marker_name }}"
    block: "{{ lookup('file', 'bash.bashrc') }}"
    state: present
    create: yes
    backup: no
    mode: '0644'
    owner: root
    group: root

- name: Deploy the complete custom script file
  copy:
    src: bash.prompt
    dest: "{{ bashprompt_target_file }}"
    force: yes
    backup: no
    mode: '0644'
    owner: root
    group: root

- name: Create bashrc.d directory
  file:
    path: /etc/bashrc.d
    state: directory
    mode: '0755'
    owner: root
    group: root

- name: Create bashrc.d alias directory
  file:
    path: /etc/bashrc.d/alias
    state: touch
    mode: '0644'
    owner: root
    group: root
    modification_time: preserve